/* MARK: Elements
*/
body {
  /* background-color: black; */
}

div {
  /* border: 1px solid blue; */
  padding: 18px;
}

h1 {
  /* border: 1px solid red; */
  font-size: 36px;
  /* color: white; */
}

p {
  /* border: 1px solid purple; */
  /* color: white; */
}

/* MARK: Classes
*/

/* MARK: IDs
*/

#container {
  /* border: 1px solid green; */
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

#canvas {
  width: 100%;
  aspect-ratio: 1/1;
  /* border: 1px solid red; */
  object-fit: contain;
}

#input-and-refresh-container {
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr auto;
}

#input-id,
#refresh-qr-code {
  width: 100%;
}

#camera-feed {
  width: 100%;
  aspect-ratio: 1/1;
  /* border: 1px solid red; */
  object-fit: contain;
}

#camera-Feed-Button-Container {
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr auto;
}

#button-camera-feed-start-stop,
#button-camera-feed-scan {
  width: 100%;
}

#table-of-ids {
  border: 1px solid black;
  /* border: 1px solid white; */
  width: 100%;
}

#button-purge-data {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#button-export-data {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
